PORT=3040

FLORA_API_BASE_URL=https://api.withflora.io/v1
FLORA_API_KEY=
FLORA_DATE_TIME_EXTRACTION_SCHEMA_ID=

SERVICE_ACCOUNT_FILE=credentials/service_account.json
GOOGLE_CALENDAR_ID=yours@gmail.com
TIMEZONE=UTC+1
